@model List<OtelOdaViewModel>
@{
    ViewData["Title"] = "OtelOdaOzellik";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        @*<tr>
                <th class="table-dark" style="text-align:center;" colspan="9">@ViewBag.Otelad</th>
            </tr>*@
        <tr>
            <th style="text-align:center;">ODA GÖRSEL</th>
            <th>ID</th>
            <th>OTEL AD</th>
            <th>ODA TİPİ</th>
            <th>İÇERİK BİLGİSİ</th>
            <th>DAHİL BİLGİSİ</th>
            <th>FİYAT</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center;"><img src="~/img/@item.Picture" alt="@item.Picture" style="width:100px; height:100px;" /></td>
                <td>@item.Id</td>
                <td>@item.OtelAd</td>
                <td>@item.OdaTipi</td>
                <td>@item.IcerikBilgisi</td>
                <td>@item.Bilgi</td>
                <td>@item.Fiyat</td>
                <td style="text-align:center;">
                    <a class="btn btn-primary btn-sm" asp-route-id="@item.Id" asp-action="OtelOdaOzellikEkle" asp-controller="OtelBilgileri">Ozellik Ekle</a>
                </td>

            </tr>
        }
    </tbody>
</table>

