@model OtelOdaGuncelleViewModel
@{
    ViewData["Title"] = "OtelOdaSil";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">OTEL ODA DETAYLAR</h4>
            <form class="form-sample" asp-action="OtelOdaSilme" asp-controller="OtelBilgileri" method="post">

                <p class="card-description">
                </p>
                <input type="hidden" asp-for="OtelId" />
                <input type="hidden" asp-for="Id" name="id" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Oda Tipi</label>
                            <div class="col-sm-9">
                                <input disabled type="text" class="form-control" asp-for="@Model.OdaTipi" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">İçerik Bilgisi</label>
                            <div class="col-sm-9">
                                <input disabled type="text" class="form-control" asp-for="@Model.IcerikBilgisi" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Giriş Tarihi</label>
                            <div class="col-sm-9">
                                <input disabled type="date" class="form-control" asp-for="@Model.GirisTarihi" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Çıkış Tarihi</label>
                            <div class="col-sm-9">
                                <input disabled type="date" class="form-control" asp-for="@Model.CikisTarihi" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Bilgi</label>
                            <div class="col-sm-9">
                                <input disabled type="text" class="form-control" asp-for="@Model.Bilgi" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Fiyat</label>
                            <div class="col-sm-9">
                                <input disabled type="text" class="form-control" asp-for="@Model.Fiyat" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Otel Oda Özellikleri</label>
                            <div class="col-sm-9">
                                <textarea disabled id="editorid4" asp-for="OtelOdaOzellik" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Vize</label>
                            <div class="col-sm-9">
                                <input disabled type="text" class="form-control" asp-for="@Model.ParaBirimi" />
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="hidden" name="Picture" value="@Model.Picture" />
                            <img src="~/img/@Model.Picture" width="300" height="200" />
                        </div>
                    </div>
                </div>*@
                <button type="submit" class="btn btn-danger btn-xl ">Sil</button>
            </form>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("editorid");
        CKEDITOR.replace("editorid1");
        CKEDITOR.replace("editorid2");
        CKEDITOR.replace("editorid3");
        CKEDITOR.replace("editorid4");
        CKEDITOR.replace("editorid5");
    </script>
}