@model List<OtelSehirListeViewModel>
@{
    ViewData["Title"] = "SehirOtelGetir";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th style="text-align:center;">OTEL GÖRSEL</th>
            <th>OTEL ID</th>
            <th>OTEL AD</th>
            <th>ŞEHİR</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center;"><img src="~/img/@item.Picture" alt="@item.Picture" style="width:100px; height:100px;" /></td>
                <td>@item.OtelId</td>
                <td>@item.OtelAd</td>
                <td>@item.Sehir</td>      
                <td style="text-align:center;"><a class="btn btn-primary btn-sm" asp-route-oteladi="@item.OtelAd" asp-route-id="@item.OtelId" asp-action="SehirOdaGetir" asp-controller="OtelBilgileri">Oda Bilgileri</a>
                </td>

            </tr>
        }
    </tbody>
</table>

