@model List<TurListViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>@ViewBag.TurAltBaslik</h3>            
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-bottom-padded-md">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="fh5co-blog animate-box">
                        <a asp-action="Index" asp-controller="TurBilgileri" asp-route-id="@item.TurId"><img class="img-responsive" src="~/img/@item.Picture" alt="" style="width:360px; height:320px;"></a>
                        <div class="blog-text">
                            <div class="prod-title">
                                <h3><a asp-action="Index" asp-controller="TurBilgileri" asp-route-id="@item.TurId">@item.TurBasligi</a></h3>
                                <span class="posted_by">@item.BaslangicTarihi.ToString("dd/MM/yyyy")-@item.BitisTarihi.ToString("dd/MM/yyyy")</span>
                                <span class="comment"><a asp-action="SignIn" asp-controller="Account" data-bs-toggle="tooltip" data-bs-placement="top" title="Favorilerime Ekle"><i class="icon-heart"></i></a></span>
                                <p><a asp-action="TurBilgileri" asp-controller="Home" asp-route-id="@item.TurId">Daha Fazla...</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @*<div class="clearfix visible-sm-block"></div>
            <div class="clearfix visible-md-block"></div>*@
        </div>
    </div>
</div>


