@model List<RezerViewModel>
@{
    ViewData["Title"] = "IptalTurRezervasyonlar";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">İPTAL TUR REZERVASYONLARI</h4>
                <p class="card-description">
                </p>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Görsel</th>
                                <th>Ad-Soyad</th>
                                <th>Telefon</th>
                                <th>Kişi Sayısı</th>
                                <th>Tur Alt Kategori</th>
                                <th>Tur Başlığı</th>
                                <th>Başlangıç Tarihi</th>
                                <th>Bitiş Tarihi</th>
                                <th>Ödenen Tutar</th>
                                <th>Geri Ödenen Tutar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td @*style="text-align:center;"*@><img src="~/img/@item.Picture" alt="@item.Picture" /></td>
                                    <td>@item.Yad @item.Ysoyad</td>
                                    <td>@item.Telefon</td>
                                    <td>@item.YetiskinSayisi Yetişkin @item.CocukSayisi Çocuk</td>
                                    <td>@item.TurAltKategori</td>
                                    <td>@item.TurBasligi</td>
                                    <td>@item.BaslangicTarihi.ToString("dd/MM/yyyy")</td>
                                    <td>@item.BitisTarihi.ToString("dd/MM/yyyy")</td>
                                    <td>@item.OdenenTutar TL</td>
                                    <td>@item.OdenenTutar TL</td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="row">
    <h3 style="text-align:center; color:orangered;">Ücreti Ödenmemiş Rezervasyonlar</h3>
</div>*@
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">İPTAL TUR REZERVASYONLARI(Ücreti Ödenmemiş)</h4>
                <p class="card-description">
                </p>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Görsel</th>
                                <th>Ad-Soyad</th>
                                <th>Telefon</th>
                                <th>Kişi Sayısı</th>
                                <th>Tur Alt Kategori</th>
                                <th>Tur Başlığı</th>
                                <th>Başlangıç Tarihi</th>
                                <th>Bitiş Tarihi</th>
                                <th>Ödenecek Tutar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Model)
                            {
                                <tr>
                                    <td @*style="text-align:center;"*@><img src="~/img/@item.Picture" alt="@item.Picture" /></td>
                                    <td>@item.Yad @item.Ysoyad</td>
                                    <td>@item.Telefon</td>
                                    <td>@item.YetiskinSayisi Yetişkin @item.CocukSayisi Çocuk</td>
                                    <td>@item.TurAltKategori</td>
                                    <td>@item.TurBasligi</td>
                                    <td>@item.Baslangic.ToString("dd/MM/yyyy")</td>
                                    <td>@item.Bitis.ToString("dd/MM/yyyy")</td>
                                    <td>@item.OdenecekTutar TL</td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>