@model SliderAddViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            <div class="col-sm-9">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#form">
                    Slider Ekle
                </button>
            </div>
        </div>
    </div>
</div>
@foreach (var item in ViewBag.sonuc)
{
    <div class="card mr-3 mt-2" style="width:18rem;">
        <img class="card-img-top" src="~/img/@item.Picture" alt="Card image cap" width="150px;" height="200px;">
        <div class="card-body">
            <h5 class="card-title">@item.Baslik</h5>
            @*<a asp-controller="Slider" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Kaldır</a>*@
            <a href="" data-toggle="modal" data-target="#silmeEkrani" data-yavuz="@item.Id" class="btn btn-danger btn-sm">
                <i class="fas fa-times-circle mr-2"></i> Sil
            </a>
        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="silmeEkrani" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">UYARI</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Silmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hayır Vazgeç</button>
                <button id="btnSil" type="button" class="btn btn-primary">Evet Sil</button>
            </div>
        </div>
    </div>
</div>


@section JavaScript{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#silmeEkrani").on("show.bs.modal", function (event) {
                let tetikleyenElement = $(event.relatedTarget);
                let id = tetikleyenElement.data("yavuz");

                $("#btnSil").click(function () {
                    $.ajax({
                        type: "Get",
                        url: "./Slider/Delete",
                        data: { id: id },
                        dataType: "json",
                        contentType: "application/json; charset=utf-8;",
                        success: function () {
                            alert("işlem tamam");
                            //window.location.reload();
                        },
                        error: function (error) {
                            alert(error.statusText);
                        }
                    })
                });
            })
        });
    </script>

}





<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="exampleModalLabel">Otel Bilgileri</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Index" asp-controller="Slider" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="hidden" asp-for="@Model.Id" />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label @*class="col-sm-3 col-form-label"*@>Başlık</label>
                                @*<div class="col-sm-9">*@
                                <input type="text" class="form-control" asp-for="@Model.Baslik" />
                                <span asp-validation-for="Baslik" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Görsel</label>
                                <input asp-for="ResimDosyasi" class="form-control" />
                                <span asp-validation-for="ResimDosyasi" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-top-0 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>



