@model List<RezervasyonListViewModel>
@{
    ViewData["Title"] = "Rezervasyonlarim";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}
<link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-3" id="fh5co-tours" class="fh5co-section-gray">

        <div class="list-group" style="margin-left:20px;  font-size:medium;">
            <div class="btn-group-vertical" role="group" aria-label="Basic example">
                <div class="btn-group">
                    <button style="font-size:large;" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">Tur Rezervasyon</button>
                    <div class="dropdown-menu" style="width:100%; text-align:center; font-size:medium;">
                        <a asp-action="Rezervasyonlarim" asp-controller="Rezervasyon" class="dropdown-item">AKTİF REZERVASYONLAR</a><br />
                        <a asp-action="IptalRezervasyonlarim" asp-controller="Rezervasyon" class="dropdown-item">İPTAL REZERVASYONLAR</a><br />
                        <a asp-action="GecmisRezervasyonlarim" asp-controller="Rezervasyon" class="dropdown-item">GEÇMİŞ REZERVASYONLAR</a>
                    </div>
                </div>
                <div class="btn-group">
                    <button style="font-size:large;" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">Otel Rezervasyon</button>
                    <div class="dropdown-menu" style="width:100%; text-align:center; font-size:medium;">
                        <a asp-action="OtelRezervasyonlarim" asp-controller="OtelRezervasyon" class="dropdown-item">AKTİF REZERVASYONLAR</a><br />
                        <a asp-action="IptalOtelRezervasyonlarim" asp-controller="OtelRezervasyon" class="dropdown-item">İPTAL REZERVASYONLAR</a><br />
                        <a asp-action="GecmisOtelRezervasyonlarim" asp-controller="OtelRezervasyon" class="dropdown-item">GEÇMİŞ REZERVASYONLAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div id="fh5co-blog-section" class="fh5co-section-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                        <h3>Rezervasyonlarım</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row row-bottom-padded-md">
                    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
                    @if (ViewBag.Sayim == 0)
                    {
                        <div class="container">
                            <h4>Herhangi bir rezervasyonunuz bulunmamaktadır.</h4>
                        </div>
                    }

                    else
                    {

                        @foreach (var item in ViewBag.Rezervasyon)
                        {

                            <div class="col-md-4" style="margin-top:30px; margin-bottom:300px; margin-left:50px;">
                                <div class="card">
                                    <h5 class="card-header" style="font-size:medium; text-align:center;">Tur Bilgileri</h5>
                                    <div class="card-body">
                                        <h5 class="card-title" style="text-align:center; font-size:medium;">@item.TurBilgileris.TurBasligi</h5>
                                        <img src="~/img/@item.TurBilgileris.Picture" alt="@item.TurBilgileris.Picture" style="width:100%; height:100%; align-content:center;" />
                                        <div class="row">
                                            <p style="text-align:left;">Tur Tarihi: <a href="#" style="text-decoration:none; text-align:right; color:#848484;"> @item.Baslangic.ToString("dd/MM/yyyy")-@item.Bitis.ToString("dd/MM/yyyy")</a></p>
                                        </div>
                                        <div class="row">
                                            <p style="text-align:left; ">Otel:  @item.OtelBilgileris.FiyatTanimi</p>
                                        </div>
                                        <div class="row">
                                            <p style="text-align:left;">Tur Kategori: @item.TurBilgileris.TurAltKategori</p>
                                        </div>
                                        <div class="row">

                                            @if (item.CocukSayisi == 0)
                                            {
                                                <p style="text-align:left;">
                                                    Misafir: @item.YetiskinSayisi Yetişkin
                                                </p>
                                            }
                                            else
                                            {
                                                <p style="text-align:left;">
                                                    Misafir: @item.YetiskinSayisi Yetişkin @item.CocukSayisi Çocuk
                                                </p>
                                            }

                                        </div>

                                        <div class="row">
                                            <p style="text-align:left;">Ödenen Tutar: @item.OdenenTutar @item.TurBilgileris.ParaBirimi</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <a style="text-align:center; font-size:medium; margin-left:;" class="btn btn-danger btn-sm" asp-action="RezervasyonİptalKaldir" asp-controller="Rezervasyon" asp-route-id="@item.Id">İptal Et</a>

                                            </div>
                                            <div class="col-md-3">
                                                <a style="text-align:center; font-size:medium;" class="btn btn-primary btn-sm" asp-action="TurBilgileri" asp-controller="Home" asp-route-id="@item.TurId">Tur Detayları</a>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

</div>
