@model TurListViewModel
@{
    ViewData["Title"] = "DetaylarSil";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">TUR KALDIR</h4>
            <form class="form-sample" asp-action="TurKaldir" asp-controller="PopulerPaket" enctype="multipart/form-data">
                <p class="card-description">

                </p>
                <input type="hidden" asp-for="@Model.TurId" name="id" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tur Alt Kategori</label>
                            <div class="col-sm-9">
                                <select disabled class="form-control" asp-for="@Model.TurAltKategori">
                                    <option>Ege-Akdeniz Turları</option>
                                    <option>Karadeniz Turları</option>
                                    <option>İç Anadolu Turları</option>
                                    <option>Gap Turları</option>
                                    <option>Kapadokya Turları</option>
                                    <option>Butik Turları</option>
                                    <option>Hafta Sonu Turları</option>
                                    <option>Butik Turları</option>
                                    <option>Kış Tatili</option>
                                    <option>Yaz Tatili</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tur Başlığı</label>
                            <div class="col-sm-9">
                                <input type="text" disabled class="form-control" asp-for="@Model.TurBasligi" />

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Başlangıç Tarihi</label>
                            <div class="col-sm-9">
                                <input type="date" disabled class="form-control" placeholder="Başlangıç Tarihi" asp-for="@Model.BaslangicTarihi" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Bitiş Tarihi</label>
                            <div class="col-sm-9">
                                <input type="date" disabled class="form-control" placeholder="Bitiş Tarihi" asp-for="@Model.BitisTarihi" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Ulaşım Türü</label>
                            <div class="col-sm-9">
                                <input type="text" disabled class="form-control" asp-for="@Model.Ulasim" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Fiyat</label>
                            <div class="col-sm-9">
                                <input type="text" disabled class="form-control" asp-for="@Model.Fiyat" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="exampleInputName1">Gezi Güzergahı</label>
                            <textarea type="text" disabled class="form-control" id="editorid5" placeholder="Name" asp-for="@Model.GidilecekYerler"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="exampleInputName1">Tur Kalkış Noktaları</label>
                            <textarea type="text" disabled class="form-control" id="editorid" placeholder="Name" asp-for="@Model.TurKalkisNoktalari"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="exampleInputName1">Fiyata Dahil Hizmetler</label>
                            <textarea type="text" disabled class="form-control" id="editorid1" placeholder="Name" asp-for="@Model.FiyataDahilHizmetler"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="exampleInputName1">Fiyata Dahil Olmayan Hizmetler</label>
                            <textarea type="text" disabled class="form-control" id="editorid2" placeholder="Name" asp-for="@Model.FiyataDahilOlmayanHizmetler"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="exampleInputName1">Tur Programı</label>
                            <textarea type="text" disabled class="form-control" id="editorid3" placeholder="Name" asp-for="@Model.TurProgrami"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="exampleInputName1">Açıklama</label>
                            <textarea disabled type="text" class="form-control" id="editorid4" placeholder="Name" asp-for="@Model.Aciklama"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label>Görsel</label>
                    @*<div class="col-md-10">
                                <input type="hidden" name="Picture" value="@Model.Picture"/>
                                <img src="~/img/@Model.Picture" width="80" />
                                <input type="file" name="file"/>
                            </div>
                        </div>*@
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="hidden" name="Picture" value="@Model.Picture" />
                            <img src="~/img/@Model.Picture" width="300" height="200" />
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-danger btn-xl ">Kaldır</button>
            </form>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("editorid");
        CKEDITOR.replace("editorid1");
        CKEDITOR.replace("editorid2");
        CKEDITOR.replace("editorid3");
        CKEDITOR.replace("editorid4");
        CKEDITOR.replace("editorid5");
    </script>
}


