@model List<TurListViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            <div class="col-sm-9">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#form">
                    Popüler Paket Ekle
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h4>POPÜLER TURLAR</h4>
    @foreach (var item in ViewBag.a)
    {
        <div class="card mr-3 mt-2" style="width: 18rem;">
            <img class="card-img-top" src="~/img/@item.Picture" alt="Card image cap" width="150px;" height="200px;">
            <div class="card-body">
                <h5 class="card-title">@item.TurBasligi</h5>
                <p class="card-text">@item.BaslangicTarihi.ToString("M")-@item.BitisTarihi.ToString("M")</p>
                <a asp-route-id="@item.TurId" asp-action="DetaylarSil" asp-controller="PopulerPaket" class="btn btn-danger">Kaldır</a>
                <a asp-route-id="@item.TurId" asp-action="Detaylar" asp-controller="Home" class="btn btn-primary">Detaylar</a>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="exampleModalLabel">TURLAR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>      
                <div class="modal-body">                 
                    <table class="table table-danger table-striped">
                        <thead>
                            <tr>
                                <th>Tur Id</th>
                                <th>Tur Başlığı</th>
                                <th></th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {                              
                                <tr>
                                    <td>@item.TurId</td>
                                    <td>@item.TurBasligi</td>
                                                              
                                    <td>
                                        <a asp-route-id="@item.TurId" asp-action="PopEkleme" asp-controller="PopulerPaket" class="btn btn-danger">Ekle</a>
                                    </td>            
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>