@model OtelOdemeViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}

<link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<form asp-action="Index" asp-controller="OtelRezervasyon" method="post">
    <input type="hidden" name="otelid" value="@ViewBag.OtelId" />
    <input type="hidden" name="otelodaid" value="@ViewBag.OtelOdaId" />
    <input type="hidden" name="kullaniciid" value="@ViewBag.KullanıId" />
    <input type="hidden" name="odenen" value="@ViewBag.Odenecektutar " />
    <input type="hidden" name="giris" value="@ViewBag.Giris" />
    <input type="hidden" name="cikis" value="@ViewBag.Cikis " />
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col-md-8" style="margin-top:30px; margin-left:20px;">
            <div class="card" @*style="margin-top:20px;"*@>
                <h5 class="card-header" style="font-size:medium;">İletişim Bilgileri</h5>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">
                        <div class="row">
                            <div class="col-md-4">
                                <label style="color:#848484; font-size:small;">Ad</label>
                                <input asp-for="@Model.Ad" class="form-control" style="font-size:medium;" value="@Model.Ad" />
                                <span style="font-size:small;" asp-validation-for="Ad" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label style="color:#848484; font-size:small;">Soyad</label>
                                <input asp-for="@Model.Soyad" class="form-control" style="font-size:medium;" value="@Model.Soyad" />
                                <span style="font-size:small;" asp-validation-for="Soyad" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label style="color:#848484; font-size:small; ">Cinsiyet</label>
                                <select asp-for="Cinsiyet" class="form-control" style="font-size:small;" value="">
                                    @*<span asp-validation-for="Ycinsiyet" class="text-danger"></span>*@
                                    <option>KADIN</option>
                                    <option>ERKEK</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label style="color:#848484; font-size:small;">Email</label>
                                <input asp-for="Email" class="form-control" style="font-size:medium;" value="@Model.Email" placeholder="example@gmail.com" />
                                <span style="font-size:small;" asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label style="color:#848484; font-size:small;">Tc Kimlik Numarası</label>
                                <input asp-for="Tc" class="form-control" style="font-size:medium;" value="@Model.Tc" />
                                <span style="font-size:small;" asp-validation-for="Tc" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label style="color:#848484; font-size:small;">Telefon</label>
                                <input asp-for="Telefon" placeholder="5*********" class="form-control" style="font-size:medium;" value="@Model.Telefon" />
                                <span style="font-size:small;" asp-validation-for="Telefon" class="text-danger"></span>
                            </div>
                        </div>
                    </p>
                </div>
            </div>
            <div class="card mt-5" @*style="margin-top:20px;"*@>
                <h5 class="card-header" style="font-size:medium;">Ödeme Seçimi</h5>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">
                        <div class="row">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                                <label style="color:#848484; font-size:small;" class="form-check-label" for="flexRadioDefault1">
                                    Kredi Kartı
                                </label>
                            </div>
                            @*<div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                    <label style="color:#848484; font-size:small;" class="form-check-label" for="flexRadioDefault2">
                                        EFT
                                    </label>
                                </div>*@
                        </div>
                </div>
            </div>
            <div class="card mt-5" @*style="margin-top:20px;"*@>
                <h5 class="card-header" style="font-size:medium;">Ödeme Bilgileri</h5>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">
                        <div class="row">
                            <div class="col-md-6">
                                <label style="color:#848484; font-size:small;">Kart Üzerindeki İsim</label>
                                <input asp-for="@Model.CartName" class="form-control" style="font-size:medium;" />
                                <span style="font-size:small;" asp-validation-for="CartName" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label style="color:#848484; font-size:small;">Kart Numarası</label>
                                <input asp-for="@Model.CartNumber" class="form-control" style="font-size:medium;" />
                                <span style="font-size:small;" asp-validation-for="CartNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label style="color:#848484; font-size:small;">AY</label>
                                <input asp-for="@Model.ExpirationMonth" class="form-control" style="font-size:medium;" />
                                <span style="font-size:small;" asp-validation-for="ExpirationMonth" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label style="color:#848484; font-size:small;">YIL</label>
                                <input asp-for="@Model.ExpirationYear" class="form-control" style="font-size:medium;" />
                                <span style="font-size:small;" asp-validation-for="ExpirationYear" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label style="color:#848484; font-size:small;">CVV</label>
                                <input asp-for="@Model.CVV" class="form-control" style="font-size:medium;" />
                                <span style="font-size:small;" asp-validation-for="CVV" class="text-danger"></span>
                            </div>
                        </div>
                </div>
            </div>
        </div>


        <div class="col-md-3" style="margin-top:30px;">
            <div class="card">
                <h5 class="card-header" style="font-size:medium; text-align:center;">Otel Bilgileri</h5>
                <div class="card-body">
                    @foreach (var item in ViewBag.OtelBilgi)
                    {
                        <h5 class="card-title" style="text-align:center; font-size:medium;">@item.OtelAd</h5>
                        <img src="~/img/@item.Picture" alt="@item.Picture" style="width:300px; height:320px; align-content:center;" />
                        <div class="row">
                            <p style="text-align:left;">Rezervasyon Tarihi: <a href="#" style="text-decoration:none; text-align:right; color:#848484;"> @item.GirisTarihi.ToString("dd/MM/yyyy")-@item.CikisTarihi.ToString("dd/MM/yyyy")</a></p>
                        </div>
                        <div class="row">
                            <p style="text-align:left; ">Oda Tipi:  @item.OdaTipi</p>
                        </div>
                        @*<div class="row">
                                <p style="text-align:left;">Tur Kategori: @item.TurAltKategori</p>
                            </div>*@
                        @*<div class="row">

                                @if (ViewBag.Cocuk == 0)
                                {
                                    <p style="text-align:left;">
                                        Misafir: @ViewBag.Yetiskin Yetişkin
                                    </p>
                                }
                                else
                                {
                                    <p style="text-align:left;">
                                        Misafir: @ViewBag.Yetiskin Yetişkin @ViewBag.Cocuk Çocuk
                                    </p>
                                }

                            </div>*@


                        <div class="row">
                            <p style="text-align:left;">Ödeyeceğiniz Tutar: @ViewBag.Odenecektutar @ViewBag.ParaBirimi</p>
                        </div>
                    }
                </div>
            </div>
            <div style="text-align:center; margin-bottom:50px; margin-top:30px; ">
                <button style="width:300px; height:50px; font-size:medium;" type="submit" class="btn btn-primary">Ödeme Yap</button>
            </div>
        </div>
    </div>
</form>

